<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.desarrollo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Precentacion.Alimentos.Frutas.frutas_select_activity"></activity>
        <activity android:name=".Precentacion.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Precentacion.Login.login_registro" />
        <activity android:name=".Precentacion.Login.login">
        </activity>
        <activity android:name=".Precentacion.Encuestas.registro_cuestionario_seccion4" />
        <activity android:name=".Precentacion.Encuestas.registro_cuestionario_seccion3" />
        <activity android:name=".Precentacion.Encuestas.registro_cuestionario_seccion2" />
        <activity android:name=".Precentacion.Encuestas.registro_cuestionario_seccion1" />
        <activity android:name=".Precentacion.Encuestas.registro_autoeficacia" />
        <activity android:name=".Precentacion.Encuestas.registroHijo" />
        <activity android:name=".Precentacion.Alimentos.Frutas.RegistrarFrutas"></activity>
        <activity android:name=".Precentacion.EpicMensajes.EpicChildr"></activity>
        <activity android:name=".Precentacion.Home.TutorFragment"/>
        <activity android:name=".Precentacion.Home.HijoRegistroActivity"/>
        <activity android:name=".Precentacion.Motivadores.MotivadoresSelectActivity"/>
    </application>

</manifest>